# Ignorar entornos virtuales
env/
venv/

# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Ignorar base de datos local si usaras sqlite
*.sqlite3
db.sqlite3

# Ignorar configuraciones locales
*.log
*.pot
*.py[cod]
.DS_Store
*.env
